<div class="container my-5" *ngIf="course">
    <div class="row py-5">
        <div class="col-md-6" >
            <p><a routerLink="/courses">&larr; Back to Courses</a></p>
            <h1>{{ course.name }}</h1>
            <hr />
            <p><strong>Description:</strong> {{ course.description }}</p>
            <p><strong>Duration:</strong> {{ course.duration }}</p>
            <p><strong>Fees:</strong> {{ course.fees }}</p>
        </div>
        <div class="col-md-6 p-5">
            <app-inquiry-form [courseId]="course.id"></app-inquiry-form>         
        </div>
    </div>
</div>