<div class="container my-5">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="images/about-img.png" height="400px" alt="About Us">
        </div>
        <div class="col-md-6 py-5">
            <h1>We Are Coders"R"Us</h1>
            <hr />
            <h3>> Our History</h3>
            <p>Founded in 2024, Coders"R"Us emerged from a vision to create a premier destination for IT education and innovation. Initially starting as a small training center, our institute has grown into a leading educational establishment known for its cutting-edge programs and industry relevance. Over the years, we’ve built a reputation for excellence by continually adapting to the evolving tech landscape and incorporating the latest advancements into our curriculum. Our journey has been marked by significant milestones, including the expansion of our facilities, the development of new programs, and the establishment of partnerships with leading tech companies.</p>
            <h3>> Our Mission</h3>
            <p>At Coders"R"Us, our mission is to empower individuals with the knowledge and skills needed to excel in the ever-evolving field of information technology. We are committed to providing high-quality, practical education that bridges the gap between theoretical knowledge and real-world application. Our goal is to foster a learning environment that nurtures innovation, critical thinking, and technical proficiency. By offering a diverse range of programs and utilizing cutting-edge technology, we aim to prepare our students for the challenges and opportunities of the modern tech landscape.</p>
            <h3>> Our Vision</h3>
            <p>Our vision is to be a global leader in IT education, recognized for our commitment to excellence, innovation, and student success. We aspire to create a transformative impact on the technology sector by producing highly skilled professionals who drive progress and shape the future of IT. As we look to the future, we are dedicated to staying ahead of industry trends, continuously updating our curriculum, and expanding our reach to inspire and educate the next generation of tech leaders. By fostering a culture of collaboration and forward-thinking, we aim to contribute to a world where technology enhances and enriches lives on a global scale.</p>
        </div>
    </div>
</div>
